<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @hemo_semestrial.data %>
</p>

<p>
  <b>Aghbs:</b>
  <%= @hemo_semestrial.aghbs %>
</p>

<p>
  <b>Achbs:</b>
  <%= @hemo_semestrial.achbs %>
</p>

<p>
  <b>Achcv:</b>
  <%= @hemo_semestrial.achcv %>
</p>

<p>
  <b>Achiv:</b>
  <%= @hemo_semestrial.achiv %>
</p>

<p>
  <b>Pth:</b>
  <%= @hemo_semestrial.pth %>
</p>

<p>
  <b>Pacient:</b>
  <%= @hemo_semestrial.pacient %>
</p>


<%= link_to 'Edit', edit_hemo_semestrial_path(@hemo_semestrial) %> |
<%= link_to 'Back', hemo_semestrials_path %>
