<h1>Listing capds</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Pacient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @capds.each do |capd| %>
  <tr>
    <td><%= capd.data %></td>
    <td><%= capd.pacient %></td>
    <td><%= link_to 'Show', capd %></td>
    <td><%= link_to 'Edit', edit_capd_path(capd) %></td>
    <td><%= link_to 'Destroy', capd, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Capd', new_capd_path %>
