<h1>Listing diabets</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Pacient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diabets.each do |diabet| %>
  <tr>
    <td><%= diabet.data %></td>
    <td><%= diabet.pacient %></td>
    <td><%= link_to 'Show', diabet %></td>
    <td><%= link_to 'Edit', edit_diabet_path(diabet) %></td>
    <td><%= link_to 'Destroy', diabet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diabet', new_diabet_path %>
