<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @diabet.data %>
</p>

<p>
  <b>Pacient:</b>
  <%= @diabet.pacient %>
</p>


<%= link_to 'Edit', edit_diabet_path(@diabet) %> |
<%= link_to 'Back', diabets_path %>
