
<table>
  <tr>
    <th>Data</th>
    <th>Creatinina </th>
    <th> Hemoglobina </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for hemodializa in @pacient.hemodializas  %>
  <tr>
    <td><%= hemodializa.data %></td>
    <td><%= hemodializa.creatinina %></td>
    <td><%= hemodializa.hemoglobina %></td>
    <td><%= link_to 'Show', pacient_hemodializa_path(@pacient, hemodializa) %></td><!-- astea 3 nu sunt corecte -->
    <td><%= link_to 'Edit', edit_pacient_hemodializa_path(@pacient, hemodializa) %></td>
    <td><%= link_to 'Destroy', pacient_hemodializa_path(@pacient, hemodializa), 
      :confirm => 'Are you sure?', 
      :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

