 <h3> Protocol lunar </h3>
  <div class="field">
    <%= f.label :hemoglobina %>
    <%= f.text_field :hemoglobina %>
  </div>
  <div class="field">
    <%= f.label :hematocrit %>
    <%= f.text_field :hematocrit %>
  </div>
 <div class="field">
    <%= f.label :hematii %>
    <%= f.text_field :hematii %>
  </div>
 <div class="field">
    <%= f.label :leucocite %>
    <%= f.text_field :leucocite %>
  </div>
 <div class="field">
    <%= f.label :trombocite %>
    <%= f.text_field :trombocite %>
  </div>
 <div class="field">
    <%= f.label :uree %>
    <%= f.text_field :uree %>
  </div>
 <div class="field">
    <%= f.label :creatinina %>
    <%= f.text_field :creatinina %>
  </div>
 <div class="field">
    <%= f.label :sodiu %>
    <%= f.text_field :sodiu %>
  </div>
 <div class="field">
    <%= f.label :potasiu %>
    <%= f.text_field :potasiu %>
  </div>
 <div class="field">
    <%= f.label :tgo %>
    <%= f.text_field :tgo %>
  </div>
 <div class="field">
    <%= f.label :tgp %>
    <%= f.text_field :tgp %>
  </div>
 <div class="field">
    <%= f.label :glicemie %>
    <%= f.text_field :glicemie %>
  </div>
 <div class="field">
    <%= f.label :calciu %>
    <%= f.text_field :calciu %>
  </div>
 <div class="field">
    <%= f.label :fosfor %>
    <%= f.text_field :fosfor %>
  </div>
  <div class="field">
    <%= f.label :greutate %>
    <%= f.text_field :greutate %>
  </div>
 <div class="field">
    <%= f.label :sga %>
    <%= f.text_field :sga %>
  </div>
 <div class="field">
    <%= f.label :tas %>
    <%= f.text_field :tas %>
  </div>
 <div class="field">
    <%= f.label :tad %>
    <%= f.text_field :tad %>
  </div>
 <div class="field">
    <%= f.label :indice_b_mortalitate %>
    <%= f.text_field :indice_b_mortalitate %>
  </div>
 <div class="field">
    <%= f.label :spitalizare %>
    <%= f.text_field :spitalizare %>
  </div>
 <div class="field">
    <%= f.label :vit_d %>
    <%= f.text_field :vit_d %>
  </div>
 <div class="field">
    <%= f.label :binder_fosfor %>
    <%= f.text_field :binder_fosfor %>
  </div>
 <div class="field">
    <%= f.label :epo_saptamana %>
    <%= f.text_field :epo_saptamana %>
  </div>
 <div class="field">
    <%= f.label :durata_hd %>
    <%= f.text_field :durata_hd %>
  </div>
  <div class="field">
    <%= f.label :heparina_dializa %>
    <%= f.text_field :heparina_dializa %>
  </div>

