   <h3> Analize hemodializa trimestriale</h3>
 <div class="field">
    <%= f.label :fier_seric %>
    <%= f.text_field :fier_seric %>
  </div>
 <div class="field">
    <%= f.label :colesterol %>
    <%= f.text_field :colesterol %>
  </div>
 <div class="field">
    <%= f.label :lipide %>
    <%= f.text_field :lipide %>
  </div>
 <div class="field">
    <%= f.label :trigliceride %>
    <%= f.text_field :trigliceride %>
  </div>
 <div class="field">
    <%= f.label :ctlf %>
    <%= f.text_field :ctlf %>
  </div>
 <div class="field">
    <%= f.label :inr %>
    <%= f.text_field :inr %>
  </div>
 <div class="field">
    <%= f.label :aptt %>
    <%= f.text_field :aptt %>
  </div>
 <div class="field">
    <%= f.label :ap %>
    <%= f.text_field :ap %>
  </div>
 <div class="field">
    <%= f.label :fibrinogen %>
    <%= f.text_field :fibrinogen %>
  </div>
 <div class="field">
    <%= f.label :tquick %>
    <%= f.text_field :tquick %>
  </div>
 <div class="field">
    <%= f.label :proteine_serice %>
    <%= f.text_field :proteine_serice %>
  </div>
 <div class="field">
    <%= f.label :hemoglobina_glicozilata %>
    <%= f.text_field :hemoglobina_glicozilata %>
  </div>
 <div class="field">
    <%= f.label :saturarea_transferinei %>
    <%= f.text_field :saturarea_transferinei %>
  </div>
 <div class="field">
    <%= f.label :pcr %>
    <%= f.text_field :pcr %>
  </div>
 <div class="field">
    <%= f.label :urr %>
    <%= f.text_field :urr %>
  </div>
 <div class="field">
    <%= f.label :ektv %>
    <%= f.text_field :ektv %>
  </div>
 <div class="field">
    <%= f.label :fosfataza_alcalina %>
    <%= f.text_field :fosfataza_alcalina %>
  </div>
 <div class="field">
    <%= f.label :albumina %>
    <%= f.text_field :albumina %>
  </div>
 <div class="field">
    <%= f.label :alfa1 %>
    <%= f.text_field :alfa1 %>
  </div>
 <div class="field">
    <%= f.label :alfa2 %>
    <%= f.text_field :alfa2 %>
  </div>
 <div class="field">
    <%= f.label :beta %>
    <%= f.text_field :beta %>
  </div>
 <div class="field">
    <%= f.label :gamma %>
    <%= f.text_field :gamma %>
  </div>

