<p id="notice"><%= notice %></p>

<p>
  <b>Nume:</b>
  <%= @centru.nume %>
</p>

<p>
  <b>Protocol:</b>
  <%= @centru.protocol %>
</p>


<%= link_to 'Edit', edit_centru_path(@centru) %> |
<%= link_to 'Back', centrus_path %>
