    <h3> Protocol lunar </h3>
<%= simple_form_for @pacient do |d| %>
  <%= d.simple_fields_for :hemo_lunar do |f| %>
    <%= f.input :data, :as => :date %>
    <%= f.input :hemoglobina, :hint => 'mg/dL' %> 
    <%= f.input :hematocrit , :hint => '%'%>
    <%= f.input :hematii , :hint => 'mii/uL'%>
    <%= f.input :leucocite, :hint => 'mii/uL' %>
    <%= f.input :trombocite, :hint => 'mii/uL' %>
    <%= f.input :uree, :hint => 'mg/dL' %>
    <%= f.input :creatinina, :hint => 'mg/dL' %>
    <%= f.input :sodiu, :hint => 'mmol/L' %>
    <%= f.input :potasiu, :hint => 'mmol/L' %>
    <%= f.input :tgo, :hint => 'UI/L' %>
    <%= f.input :tgp, :hint => 'UI/L' %>
    <%= f.input :glicemie, :hint => 'mg/dL' %>
    <%= f.input :calciu, :hint => 'mg/dL' %>
    <%= f.input :fosfor, :hint => 'mg/dL' %>
  <% end %>
  <div class="actions">
    <%= d.submit  'salveaza si introdu semestrial', :name=> 'next_form' %>
    <%# d.submit @hemo_lunar.name_of_previous_step, :name => "previous_button" unless @hemo_lunar.first_step? %>
    <%= d.submit 'salveaza' , :name=> 'save_ahead', :confirm => 'vrei sa bagi doar formularele astea?' %>
  </div>
  <div>
    <%= link_to 'Semestrial', new_pacient_hemo_semestrial_path %>
  </div>
<% end %>
