  <h3> Analize hemo_lunar semestriale </h3>
 <div class="field">
    <%= f.label :aghbs %>
    <%= f.text_field :aghbs %>
  </div>
 <div class="field">
    <%= f.label :achbs %>
    <%= f.text_field :achbs %>
  </div>
 <div class="field">
    <%= f.label :achcv %>
    <%= f.text_field :achcv %>
  </div>
 <div class="field">
    <%= f.label :achiv %>
    <%= f.text_field :achiv %>
  </div>
 <div class="field">
    <%= f.label :pth %>
    <%= f.text_field :pth %>
  </div>

