<%= form_for(@pacient) do |f| %>
  <% if @pacient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pacient.errors.count, "error") %> prohibited this pacient from being saved:</h2>

      <ul>
      <% @pacient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nume %><br />
    <%= f.text_field :nume %>
  </div>
  <div class="field">
    <%= f.label :prenume %><br />
    <%= f.text_field :prenume %>
  </div>
  <div class="field">
    <%= f.label :cnp %><br />
    <%= f.text_field :cnp %>
  </div>
  <div class="field">
    <%= f.label :data_integrarii %><br />
    <%= f.date_select :data_integrarii %>
  </div>
  <%= f.fields_for :protocols do |protocol_form| %>
    <p>
    <div>
      <%= protocol_form.label :data, 'Data initierii protocolului' %><br/>
      <%= protocol_form.date_select :data %>
    </div>
    <div>
      Selecteaza centru de care apartine pacientul<br/>
      <%= protocol_form.select(:centru, Protocol::CENTRE ) %><br/>
      Selecteaza protocolul in care introduci pacientul<br />
      <%= protocol_form.select(:program, Protocol::PROGRAME ) %>
    </div>
    <% unless protocol_form.object.new_record? %>
      <div><!-- asta inca nu merge vom reveni --!>
        <%# protocol_form.label :_delete, 'Sterge' %>
        <%# protocol_form.check_box :_delete %>
      </div>

    <% end %>
  <% end %>
    </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
