<h1>Editing pacient</h1>

<%= render 'form' %>
<h4> Aici merge un buton pentru update doar la protocol</h4>
<%= link_to 'Show', @pacient %> |
<%= link_to 'Back', pacients_path %>|
<%= link_to 'Schimba protocolul sau centrul', new_pacient_protocol_path(@pacient) %> <br/>
<%= link_to_analize %><br/>
