<p id="notice"><%= notice %></p>
<%= link_to 'Back', pacients_path %>
<h2> Analizele lui <%= @pacient.nume %> <%= @pacient.prenume %> </h2>
<p>
  <b>Cnp:</b>
  <%= @pacient.cnp %>
</p>

<%= render :partial => "hemo_lunars/index" %><!-- asta nu e bine ca acu am mai multe modele de hemo -->
<%= link_to 'Editeaza datele pacientului sau ale protocolului', edit_pacient_path(@pacient) %> |
<%= link_to 'Schimba Protocolul', new_pacient_protocol_path(@pacient) %>|
<%= link_to_analize %>
