<%= form_for([@pacient, @protocol]) do |f| %>
  <% if @protocol.errors.any? %>
    <div id="error_explanation">
      <h2>Ai <%= pluralize(@protocol.errors.count, "error") %> in acest formular:</h2>

      <ul>
      <% @protocol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
    <div>
      Selecteaza centru de care apartine pacientul<br/>
      <%= f.select(:centru, Protocol::CENTRE ) %><br/>
      Selecteaza protocolul in care introduci pacientul<br />
      <%= f.select(:program, Protocol::PROGRAME ) %>
    </div>

  <div class="actions">
    <%= f.submit 'Adauga protocol'%>
  </div>
<% end %>
