<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @bcr.data %>
</p>

<p>
  <b>Pacient:</b>
  <%= @bcr.pacient %>
</p>


<%= link_to 'Edit', edit_bcr_path(@bcr) %> |
<%= link_to 'Back', bcrs_path %>
